{% extends "layout.html" %}

{% block title %} Editing "{{post[title]}}" {% endblock %}

{% block content %}

<div class="center">
  {% if id not in ids %}
    <div> Post with id {{ id }} not found </div>
  {% else %}
    <div class="container">
      <h1>Editing "{{ post[title] }}" </h1>
      <form class="create-form" method="post">
        <label for="title">Title</label>
        <input name="title" type="text" class="uk-input" placeholder="Title">
        {% if invalid %}
          <div class="uk-text-danger">{{messages[0]}}</div>
        {% endif %}
        <label for="content">Content</label>
        <textarea name="content" id="" cols="30" rows="10" class="uk-textarea" placeholder="What's on your mind?"></textarea>
        <input type="submit" class="submit uk-button" value="edit">
        {% if success %}
          <div class="uk-text-success">{{messages[0]}}</div>
        {% endif %}
      </form>
    </div>
  {% endif %}
</div>

{% endblock %}